<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
        <clear />
            <add name="sqlite" path="*" verb="*"
            modules="sqliteModule"
            resourceType="Database"
            requireAccess="Read" />
        </handlers>
    </system.webServer>
</configuration>