{% extends 'index.html' %}
{% block aside %}
<aside>
    <div class="top">
        <div class="logo">
            {% load static %}
            <img src="{% static './image/logo.png'%}">
            <h2>BAH<span class="danger">AR</span></h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">&#9776;</span>
        </div>
    </div>
    <div class="sidebar">
        <a href="{% url 'home'%}" class="icon-a ">
            <span class="fa fa-home spancons"></span>
            <h3>Home</h3>
        </a>
        <a href="{% url 'class-add'%}" class="icon-a">
            <span class="fa fa-book-open  icons"></span>
            <h3>Add Class</h3>
        </a>
        <a href="{% url 'qars'%}" class="icon-a">
            <span class="fa fa-money-bill-alt icons"></span>
            <h3>Remainder</h3>
        </a>
        <a href="{% url 'exam' %}" class="icon-a">
            <span class="fa fa-book-reader icons"></span>
            <h3>Exam</h3>
        </a>
        <a href="{% url 'all-student'%}" class="icon-a">
            <span class="fa fa-users icons"></span>
            <h3>All Students</h3>
        </a>
        <a href="{% url 'teacher-all'%}" class="icon-a active">
            <span class="fa fa-chalkboard-teacher icons"></span>
            <h3>View Teacher</h3>
        </a>
        <a href="{% url 'acounting'%}" class="icon-a">
            <span class="fa fa-coins icons"></span>
            <h3>Acounting</h3>
        </a>
        <a href="{% url 'logout' %}" class="icon-a">
            <span class="fa fa-sign-out-alt icons"></span>
            <h3>Logout</h3>
        </a>
    </div>
</aside>
{% endblock aside %}

{% block main %}

<main>
    {% include 'logo.html' %}
    <div class="date">
        <input type="date">
    </div>
    <!---------- END OF insights ---------->
    <div class="recent-order">
        <h2>Resgister new Teacher</h2>
        <div class="information">
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'success'%}
            <h2 class="success">{{message}}</h2>
            {% endif %}
            {% endfor %}
            {% endif%}

            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'warning'%}
            <h2 class="primary">{{message}}</h2>
            {% endif %}
            {% endfor %}
            {% endif%}

            <form action="{% url 'teacher-save'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" required name="first_name" placeholder="First Name:">
                <input type="text" required name="last_name" placeholder="Last Name:">
                <input type="text" required name="father_name" placeholder="Father Name:">
                <input type="email" required name="email" placeholder="Email:">
                <input type="text" required name="username" placeholder="Username:">
                <input type="password" required name="password" placeholder="Password">
                <input type="text" required name="phone" placeholder="Phone #1:">
                <input type="text" required name="phone_tow" placeholder="Phone #2:">
                <select name="degree_edu" required>
                    <option>Degree Edu</option>
                    <option value="School">School</option>
                    <option value="Bachelor">Bachelor</option>
                    <option value="Master">Master</option>
                    <option value="PHD">PHD</option>
                </select>
                <input type="text" required name="idcord" placeholder="NIC #:">
                <select class="input" required name="level">
                    <option>---- Select Level ----</option>
                    <option value="Starter">Starter</option>
                    <option value="Prep 1">Prep 1</option>
                    <option value="Prep 2">Prep 2</option>
                    <option value="Prep 3">Prep 3</option>
                    <option value="Intro">Intro</option>
                    <option value="EAP 1">EAP 1</option>
                    <option value="EAP 2">EAP 2</option>
                    <option value="EAP 3">EAP 3</option>
                    <option value="EAP 4">EAP 4</option>
                    <option value="EAP 5">EAP 5</option>
                    <option value="FST">FST</option>
                    <option value="TOEFL">TOEFL</option>
                    <option value="Specil Speaking">Specil Speaking</option>
                    <option value="Academic Writing">Academic Writing</option>
                    <option value="Special Kids">Special Kids</option>
                    <option value="Special Grammar">Special Grammar</option>
                    <option value="Special Class">Special Class</option>
                </select>
                <input type="file" required name="profile_pic">
                <textarea name="address_one" required id="">Main Address:</textarea>
                <textarea name="address_tow" required id="">Current Address:</textarea>
                <br>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</main>

{% endblock main %}
{% block incom %}
<a href="{% url 'teacher-add' %}">
    <div class="item add-product">
        <div>
            <span class="fa fa-chalkboard-teacher icons"></span>
            <h3>Register Teacher</h3>
        </div>
    </div>
</a>
{% endblock incom %}
