{% extends 'index.html' %}

{% block aside %}
<aside>
    <div class="top">
        <div class="logo">
            {% load static %}
            <img src="{% static './image/logo.png'%}">
            <h2>BAH<span class="danger">AR</span></h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">&#9776;</span>
        </div>
    </div>
    <div class="sidebar">
        <a href="{% url 'home'%}" class="icon-a ">
            <span class="fa fa-home spancons"></span>
            <h3>Home</h3>
        </a>
        <a href="{% url 'class-add'%}" class="icon-a">
            <span class="fa fa-book-open  icons"></span>
            <h3>Add Class</h3>
        </a>
        <a href="{% url 'qars'%}" class="icon-a">
            <span class="fa fa-money-bill-alt icons"></span>
            <h3>Remainder</h3>
        </a>
        <a href="{% url 'exam' %}" class="icon-a">
            <span class="fa fa-book-reader icons"></span>
            <h3>Exam</h3>
        </a>
        <a href="{% url 'all-student'%}" class="icon-a">
            <span class="fa fa-users icons"></span>
            <h3>All Students</h3>
        </a>
        <a href="{% url 'teacher-all'%}" class="icon-a active">
            <span class="fa fa-chalkboard-teacher icons"></span>
            <h3>View Teacher</h3>
        </a>
        <a href="{% url 'acounting'%}" class="icon-a">
            <span class="fa fa-coins icons"></span>
            <h3>Acounting</h3>
        </a>
        <a href="{% url 'logout' %}" class="icon-a">
            <span class="fa fa-sign-out-alt icons"></span>
            <h3>Logout</h3>
        </a>
    </div>
</aside>
{% endblock aside %}

{% block incom %}
<a href="{% url 'teacher-add' %}">
    <div class="item add-product">
        <div>
            <span class="fa fa-chalkboard-teacher icons"></span>
            <h3>Register Teacher</h3>
        </div>
    </div>
</a>
{% endblock incom %}



{% block main %}
<main>

    {% include 'logo.html' %}
    <!---------- END OF insights ---------->
    <div class="information">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success'%}
        <script>
            swal('Good job!', '{{message}}', 'success')
        </script>
        {% endif %}
        {% endfor %}
        {% endif%}

        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'warning'%}
        <script>
            swal('Good job!', '{{message}}', 'warning')
        </script>
        {% endif %}
        {% endfor %}
        {% endif%}
        <div class="inline">
            <div class="user-photo">
                {% if teacher.admin.profile_pic == "" %}

                {% load static %}
                <img src="{% static './image/profile_user.png'%}">

                {% else %}
                <img src="/{{teacher.admin.profile_pic}}">
                {% endif %}
            </div>
            <div class="info-student">
                {% comment %} <h3>ID: <span class="success">{{teacher.id}}</span></h3> {% endcomment %}
                <h3>Full Name: <span
                        class="success">{{teacher.admin.first_name}}&nbsp;{{teacher.admin.last_name}}</span></h3>
                <h3>Father Name: <span class="success">{{teacher.father_name}}</span> </h3>
                <h3>Phone #: <span class="success">{{teacher.phone_one}} / {{teacher.phone_tow}}</span> </h3>
                <h3>Username: <span class="success">{{teacher.admin.username}}</span> </h3>
                <h3>Degree Edu: <span class="success">{{teacher.degree_edu}}</span> </h3>
                
                {% comment %} <h3>Level: <span class="success">{{teacher.level}}</span> </h3> {% endcomment %}
            </div>
            <div class="info-student">
                {% comment %} <h3>Last Login: <span class="success">{{teacher.admin.last_login}}</span> </h3> {% endcomment %}
                <h3>Chick-in: <span class="success">{{teacher.admin.date_joined}}</span></h3>
                <h3>Email: <span class="success">{{teacher.admin.email}}</span> </h3>
                <h3>NIC#: <span class="success">{{teacher.idcord}}</span> </h3>
                <h3>Main Address: <span class="success">{{teacher.address_one}}</span> </h3>
                <h3>Crurent Address: <span class="success">{{teacher.address_tow}}</span></h3>
            </div>
        </div>
    </div>

    <div class="recent-order">
        <table>
            <thead>
            <tbody>
                <rt>
                    <th>Class ID</th>
                    <th>Subject</th>
                    <th>Start Time</th>
                    <th>Pyment</th>
                    {% comment %} <th>Remainder</th> {% endcomment %}
                    <th>Start Date</th>
                    <th>End Date</th>
                    {% comment %} <th>More</th> {% endcomment %}
                </rt>

                {% for i in group_teacher %}
                <tr>
                    <td>{{i.id_group.id}}</td>
                    <td><a href="{% url 'class-info' i.id_group.id %}">
                            {% if i.id_group.active == '1'%}<span class="fa fa-circle icons active"></span>
                            {% else %}<span class="fa fa-circle icons danger"></span>
                            {% endif %}
                            {{i.id_group.subject}}</a>
                    </td>
                    <td>{{i.id_group.start_time}}</td>
                    <td class="success"><a>{{i.pay.salary}}</a></td>
                    {% comment %} <td class="danger">{{i.pay.baqiyat}}</td> {% endcomment %}
                    <td>{{i.id_group.start_date|date:"D d M Y" }}</td>
                    <td class="warning">{{i.id_group.end_date|date:"D d M Y" }}</td>
                    {% comment %} <td class="primary"><a href="{% url 'attendance-show' i.id_group.id %}">More</a></td>
                    {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
        <div class="center">
            <div class="pagination">
                {% if group_teacher.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ group_teacher.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current next">
                    <a> Page</a> <a>{{ group_teacher.number }}</a> <a>of</a>
                    <a>{{ group_teacher.paginator.num_pages }}</a>
                </span>

                {% if group_teacher.has_next %}
                <a href="?page={{ group_teacher.next_page_number }}">next</a>
                <a href="?page={{ group_teacher.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock main %}
{% block recent-updates %}
<div class="recent-updates">
    <h2>Pay Salary</h2>
    <div class="updates">
        <div class="input-add">
            <div class="select-class">
                <form action="{% url 'payment' %}" method="post">
                    {% csrf_token %}
                    <h3 class="success">Payment<h3>
                    <input type="number" required min="0" name="salary" placeholder="Amount">
                    {% comment %} <input type="number" required name="baqiyat" placeholder="Remainder">
                    {% endcomment %}
                    <input type="number" required name="teacher" hidden value="{{teacher.id}}">
                    <input type="submit" value="Pay">
                    <h3 class="danger" id="calculator"></h3>
                </form>
            </div>
        </div>
        <br>
        <br>
        <div class="btns">
        <a class="btnu" href="{% url 'show-salary' teacher.id %}">Finance</a>
        <a class="btnu" href="{% url 'teacher-update' teacher.id %}">Update</a>
        <a class="btnd" href="{% url 'teacher-delete' teacher.id %}">Delete</a>
        </div>
    </div>
    
</div>
{% endblock recent-updates %}
{% block analytics %}
<div class="sales-analytics">
    <h2>Finance Analytics</h2>
    <a href="{% url 'show-payment' teacher.id %}">
        <div class="item offline">
            <div class="icon">
                <span class="fa fa-coins icons"></span>
            </div>
            <div class="right">
                <div class="info">
                    <h3>Payment</h3>
                    <small class="text-muted">Final Finance</small>
                </div>
                {% comment %} <h5 class="danger">-50%</h5> {% endcomment %}
                {% if teacher.amount_salary >= 0 %}
                <h3 class="primary">{{teacher.amount_salary}} AFN</h3>
                {% else %}
                <h3 class="danger">{{teacher.amount_salary}} AFN</h3>
                {% endif %}
            </div>
        </div>
    </a>
    <a href="{% url 'show-salary' teacher.id %}">
        <div class="item online">
            <div class="icon">
                <span class="fa fa-chart-pie icons"></span>
            </div>
            <div class="right">
                <div class="info">
                    <h3>Class</h3>
                    <small class="text-muted">Level {{teacher.level}}</small>
                </div>
                <h5 class="success">Active {{active}}</h5>
                <h3>All<span class="primary"> {{class}}</span></h3>
            </div>
        </div>
    </a>
    <div class="item customers" onclick="analyticsToggle();">
        <div class="icon">
            <span class="fa fa-bullhorn icons"></span>
        </div>
        <div class="right">
            <div class="info">
                <h3>Online</h3>
                <small class="text-muted">{{teacher.admin.last_login|date:"Y-m-d"}}</small>
            </div>
            <h5 class="success">{{teacher.admin.last_login|date:"h:i A"}}</h5>
            <h3>ID<span class="primary"> {{teacher.id}}</span></h3>
        </div>
    </div>
</div>
<div id="popupana">
    <div class="close_pup">
       <a class="fa fa-window-close danger icons" onclick="analyticsToggle();"></a>
    </div>
</div>
{% endblock analytics %}
